.category {
  display: block;
  padding: 0.7rem 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;

  a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  &:hover {
    background-color: $clr6;
  }
}
