.categories-container {
    width: 300px;
    border: 1px solid $clr3light;
    border-radius: 10px;
    padding: 2rem 1.5rem ;
    margin: 1rem;

    h1 {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}