@use "../abstracts" as *;

.categories-container {
  @include layout-padding-setup;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 72px;
  margin-bottom: 100px;
  gap: 27px;
}
