@use "../abstracts" as *;

.hero-container {
  display: flex;
  padding-left: 80px;
  padding-right: 36px;
  margin-top: 151px;

  .hero-content {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;

    h2 {
      font-size: $fs-xxl;
      font-weight: 600;
      color: $clr2;
      line-height: 70px;
    }

    h3 {
      width: 480px;
      font-size: $fs-xl;
      font-weight: 400;
      color: $clr3;
      line-height: 40.13px;
    }

    button {
      width: 161px;
      height: 50px;
      font-weight: 500;
    }
  }

  img {
    min-width: 450px;
    max-height: 526px;
  }
}

@include for-mobile-layout {
  .hero-img {
    display: none;
  }
}
