@use "../abstracts" as *;

.recently-add {
  @include layout-padding-setup;
  h2 {
    font-weight: 600;
    font-size: 30px; //change it rem after
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: $clr2;
    gap: 27px;
    margin-bottom: 48px;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      background: $clr7;
      height: 1px;
      font-size: 0px;
      line-height: 0px;
    }
  }
}
.recent-items-container {
  @include layout-padding-setup;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 50px 27px;
}

// @include for-mobile-layout {
//   .recent-items-container {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

// @include for-laptop-layout {
//   .recent-items-container {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
// @include for-tablet-layout {
//   .recent-items-container {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
// @include for-wide-layout {
//   .recent-items-container {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
