@use "../abstracts" as *;

.input-container {
  position: relative;
  height: 70px;
  border-radius: 10px;
  border: 1px solid $clr3light;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  font-size: $fs-s;
  input {
    width: 100%;
    color: $clr3;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: $fs-l;
    line-height: 167.2%;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: $clr3;
    }
  }

  .input-left-image {
    padding: 0 1rem;
  }

<<<<<<<< HEAD:frontend/src/assets/styles/layouts/_Input.scss
  .other-image {
========
  .inputRightImage {
>>>>>>>> ccc05e0a60b8a0b61b8c802eac9f39a77d34e17f:frontend/src/assets/styles/components/_Input.scss
    position: absolute;
    right: 6%;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      filter: brightness(130%);
    }
  }

  button {
    height: 100%;
    width: 125px;
    border-radius: $borderRad3;
    font-weight: 500;
    font-size: $fs-s;
  }
}
