{% extends 'style/main.html' %}
{% block titel %}
    <title>Authors</title>
{% endblock %}
{% block content %}
    <br><h1 style="margin: 10px">Novels</h1>
    {% for n in novel %}
        {% if n.author.id == author.id %}
            <div class="card" style="float: left; margin: 10px">
                <div class="card-body" style="width: 250px">
                    <h5 class="card-title">{{ n.name}}</h5>
                    <p class="card-text">{{ n.description }}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}