@font-face {
  font-family: "Prata";
  src: url(../../fonts/Prata-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(../../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Thin";
  src: url(../../fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
