// Breakpoints
$mobile-breakpoint: 590px;
$tablet-breakpoint: 640px;
$laptop-breakpoint: 850px;
$wide-breakpoint: 1250px;

// $breakpoints: (
//   mobile: 550px,
//   narrow: 640px,
//   tablet: 770px,
//   wide: 1000px,
// );
