// Colors
$clr1: linear-gradient(85.17deg, #fbb527 0%, #fcdd6a 100%); //primary-color
$clr2: black; //black-color
$clr3: rgba(144, 135, 170, 1); // sub-color
$clr3light: rgba(144, 135, 170, 0.5); // sub-color
$clr4: #ffffff; //white-color
$clr5: linear-gradient(#00000000 0%, #000000 100%); //main-nav home-user
$clr6: rgba(253, 241, 225, 0.4); //foter-color
$clr7: rgba(215, 215, 215, 1); //footer hr
$clr8: rgba(144, 135, 170, 1); //rights-color

// BackgroundColors
$bgClr1: #f5f5f5; //card-details-bg-color
